$color-white: #fff;
$color-black: #222;
$color-black-light: #8a96a1;
$color-grey: #eeff;

$color-primary: $color-black;

/* Font family names */
$font-family-primary: "Montserrat", sans-serif;
$font-family-secondary: Lato, sans-serif;

/* Font sizes scale */
$base-line-height: 20px;
$base-font-size: 16px;
$font-size: $base-font-size;
$font-size-xl: 24px;
$font-size-xxl: 28px;

$font-weight-regular: 400;
